.date {
    display: table-cell;
    width: 230px;
    text-align: right;
    margin-right: 30px;
}

.detailDate {
    display: none;
    align-items: center;
}

.body {
    display: table-cell;
    margin: 0;
}
.title {
    font-size: 22px;
    margin-top: 0;
}

.skillset {
    margin: 10px 0;
    word-break: break-word;
    overflow-wrap: break-word;
    display: flex;
    align-items: initial;
}

.location {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 10px;
}

li {
    list-style: none;
    display: table;
    width: 100%;
    border-spacing: 30px 10px;
}


@media (max-width : 800px) {
    .date {
        display: none;
    }

    .detailDate {
        display: flex;
    }
}
