.contactMe {
    
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 60px;
}

.contactOptions{
    width: 50%;
}

.form {
    width: 50%;
}

@media (max-width : 800px) {
    .container {

    }
    
    .contactOptions {
        width: 100%;
    }

    .form {
        width: 100%;
    }
}