.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline
}

.icon {
    font-size: 38px;
    display: none;
    cursor: pointer;
}

.LinkSection {
    display: flex;
}

@media (max-width: 800px) {
    .NavBar {
        align-items: unset;
    }

    .LinkSection {
        display: none;
    }

    .icon {
        display: flex;
    }
}