.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline
}

.resume{
    cursor: pointer;
    width: 45%;
    text-align: end;
    font-size: 32px;
    font-weight: 900;
    font-family: Consolas;
}

@media (max-width: 499px) {
    .NavBar {
        /* flex-direction: column; */
        /* justify-content: center; */
        margin-top: 20px;
        margin-bottom: 15px ;
    }
}