.NavBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline
}

.resume{
    cursor: pointer;
    text-align: end;
    font-size: 24px;
    font-weight: 900;
    font-family: Consolas;
    background-color: transparent;
    border: transparent;
}

.resume:hover {
    box-sizing: border-box;
    border-bottom: 2px solid black;
}

@media (max-width: 499px) {
    .NavBar {
        /* flex-direction: column; */
        /* justify-content: center; */
        margin-top: 20px;
        margin-bottom: 15px ;
    }

    .resume {
        font-size: 22px;
    }
}