.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  overflow-x: hidden !important;
}

.light-theme {
  --primary-color: #234ef3;
  --secondary-color: #9AB5FF;
  --third-color: grey;
  --text-color: black;
  --logo-color: black;
  --link-color: salmon;
  --logo-font: Consolas;
  --logo-weight: 900;
}

.App-link {
  color: #61dafb;
}
