.App {
  text-align: center;
}

.light-theme {
  --primary-color: #234ef3;
  --secondary-color: #9AB5FF;
  --third-color: grey;
  --text-color: black;
  --logo-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
