.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  overflow-x: hidden !important;
  margin: 0 auto;
  padding: 0 auto;
}

.light-theme {
  --primary-color: #234ef3;
  --secondary-color: #9AB5FF;
  --third-color: grey;
  --text-color: black;
  --logo-color: black;
  --link-color: salmon;
}

.App-link {
  color: #61dafb;
}
