.header {
    width: 80%;
    margin: 30px auto 20px auto;
    max-width: 1200px;
}

.main {
    width: 80%;
    margin: 30px auto 20px auto;
    max-width: 1200px;
}

.nav {
    width: 80%;
    margin: 50px auto 20px auto;
    max-width: 1200px;
}

.separator {
    width: 100%;
    margin: auto;
    border-top: 1px;
    color: var(--separator-color);
    opacity: 0.8;
}

@media (max-width: 550px) {
    .nav {
        margin-top: 20px;
        margin-bottom: 15px;
        width: 95%;
    }
    .header {
        margin: 20px auto 0 auto;
        width: 100%;
    }
    .main {
        margin: 20px auto 0 auto;
        width: 100%;
    }
}