.header {
    width: 80%;
    margin: 30px auto 20px auto;
    max-width: 1200px;
}

.nav {
    width: 80%;
    margin: 50px auto 20px auto;
    max-width: 1200px;
}

@media (max-width: 499px) {
    .header {
        margin: 15px auto 10px auto
    }
}