.Rating {
    display: flex;
    flex-flow: row;
    align-items: center;
    cursor: default;
}

.Filled {
    color: var(--primary-color);
}

.Empty {
    color: var(--secondary-color);
    opacity: 0.5;
}

.Rating i {
    transition: 300ms;
}

/* .Rating:hover i {
    margin-left: 2px;
} */