.secondary {
    opacity: 0.3;
    color: inherit;
    font-family: Consolas;
    font-weight: 900;
}

.logo {
    color: var(--logo-color);
    font-family:Consolas;
    font-weight: 900;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-size: 32px;
    /* text-transform: uppercase; */
    text-align: start;
    transition: all 0.3s;
}

.logo:hover {
    opacity: 0.8;
}