.item {
    height: 100%;
    max-width: 48px;
    max-height: 48px;
    margin-right: 15px;
}

.img {
    height: 100%;
}

.item .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color: transparent;
    color: var(--text-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 12px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -70%;
  }

.item:hover
{
    transform: scale(1.2);
    visibility: visible;
}

.item:hover .tooltiptext {
    visibility: visible;
}

@media (max-width: 550px) {
    .tooltiptext {
        display: none;
    }
}