.Subtitle {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: bold;
}

.Hi {
    color: var(--primary-color);
}

.Separator {
    width: 50px;
    margin-left: 0;
}

.Container {
    display: flex;
}

.TitleModule {
    flex: 1;

}

.ImgModule {
    flex: 1;
    text-align: end;
}

.ProfilePic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    /* object-fit: cover; */
}

.Intro {
    /* font-size: medium; */
    color: var(--text-color);
}

@media (max-width: 499px) {
    .Intro {
        display: none;
    }

    .Separator {
        display: none;
    }

    .Hi{
        text-align: center;
        font-size: 22px;
    }

    .Subtitle{
        text-align: center;
        font-size: 18px;
    }
}