.Subtitle {
    text-transform: uppercase;
    color: var(--secondary-color);
    font-weight: 500;
    font-style: normal;
}

.Hi {
    color: var(--primary-color);
    font-weight: 800;
    font-style: normal;
}

.Separator {
    width: 50px;
    margin-left: 0;
    border-top: 1px;
    color: var(--separator-color);
    opacity: 0.8;
}

.Container {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.TitleModule {
    flex: 1;
}

.ImgModule {
    text-align: end;
    width: 200px;
    height: 200px;
    margin-left: 25px;
}

.ProfilePic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    /* object-fit: cover; */
}

.Intro {
    /* font-size: medium; */
    color: var(--text-color);
}

@media (max-width:800px) {
    .Intro {
        display: none;
    }

    .Separator {
        display: none;
    }

    .ImgModule {
        width: 150px;
        height: 150px;
    }

    .TitleModule {
        width: 700px;
    }

    .Container {
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
}

@media (max-width : 550px) {
    .ImgModule {
        width: 125px;
        height: 125px;
    }

    .TitleModule {
        flex : 0 0 100%;
    }

    .Hi{
        text-align: center;
        font-size: 22px;
    }

    .Subtitle{
        text-align: center;
        font-size: 18px;
    }

    
}