.InputElement {
    box-sizing: border-box;
    border: 1px solid var(--third-color);
    border-radius: 5px;
    width: 100%;
    min-height: 44px;
    margin-bottom: 20px;
    font-size: var(--font-size);
    font-family: inherit;
    line-height: 1.7rem;
    padding-left: 12px;
    resize: vertical;
}

.submit {
    background-color: transparent;
    color: var(--primary-color);
    padding: 12px 20px;
    border: 1px solid var(--secondary-color);
    cursor: pointer;
    transition: 0.3s;
  }

.InputElement:focus {
    border-color: var(--text-color);
    border-width: 1.5px;
}

.submit:hover {
    background-color: var(--primary-color);
    color: white;
}