.container {
    /* border: 0.5px solid; */
    width: 300px;
    display: flex;
    flex-flow: column;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    box-sizing: border-box;
    transition: 0.3s;
    padding:16px;
}

.header {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 16px;
    margin-top: 8px;
}

.company {
    /* margin-top: 15px; */
}

.title {
    margin-top: 10px;
    margin-right: 16px;
    margin-bottom: 16px;
    font-size: 24px;
}

.img {
    margin-top: 16px;
    margin-right: 16px;
}

.actionSection {
    margin: 8px;
    position: relative;
}

.body {
    /* margin-top: 15px; */
    /* margin: 10px 1rem; */
    font-size: 14px;
    margin-bottom: 5px;
}

/* Animations */

.container:hover {
    box-shadow: 0 8px 16px 0 var(--secondary-color);
}