.ability {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    min-width: 250px;
    max-width: 300px
}

.title {
    transition: 0.3s;
}

.animatedRating {
    /* background-color: blueviolet; */
    transition: all 0.3s;
}

.ability > p {
    transition: 0.3s;
}

/* **************************   Effects  ************************** */
.ability:hover {
    /* background-color: var(--secondary-color); */
}

.ability:hover .title {
    margin-left: 3px;
}

.ability:hover .animatedRating>i {
    margin-left: 2px;
}

.ability:hover p {
    margin-right: 2px;
}



/* **************************   Breakpoints  ************************** */
@media (max-width : 550px) {
    .ability {
        width: 100%;
        max-width: 550px;
    }
}