.ability {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    min-width: 250px;
    max-width: 300px;
    max-height: 40px;
    margin-left: 30px;
    flex-basis: content;
}

.title {
    transition: 0.3s;
}

.animatedRating {
    transition: all 0.3s;
}

.ability > p {
    transition: 0.3s;
}

/* **************************   Effects  ************************** */
.ability:hover .title {
    margin-left: 3px;
}

.ability:hover .animatedRating>i {
    margin-left: 2px;
}

.ability:hover p {
    margin-right: 2px;
}



/* **************************   Breakpoints  ************************** */
@media (max-width : 800px) {
    .ability {
        width: 100%;
        max-width: 100%;
    }
}