.family {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 1rem;
    transition: all 0.2s;
    margin-right: 15px;
    margin-bottom: 15px;
    min-width: 300px;
    /* max-width: 380px; */
    width:100%;
}

.family:hover {
    box-shadow: 1px 1px 1px 1px var(--secondary-color);
}

.skillsList {
    margin-right: 1rem;
    margin-left: 2rem;
    columns: 2;
}

.title {
    margin-left: 1rem;
}

@media (max-width : 550px) {

    .family {
        margin-left: 3px;
        margin-right: 3px;
    }

   
}

@media (max-width : 800px) {
    .skillsList {
        columns: 1;
    }
}